html {
	background: #D3D3D3;
}

.headerbox {
	background-color: #ffffff;
	height: 85px;
	width: 100%;
	position: relative;
	z-index: -2;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-color: #808080;
}

.header {
	position: relative;
}

.headtab {
	background-color: #4aaaa5;
	color: #ffffff;
	position: relative;
	left: 30px;
	width: 240px;
	height: 85px;
	text-align: center;
	vertical-align: middle;
	line-height: 85px;
}

.navbar {
	position: relative;
	float: right;
	top: -50px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	word-spacing: 20px;
	color: #777777;
	right: 150px;
}

.connectbox {
	position: relative;
	float: right;
	width: 270px;
	height: 200px;
	background-color: #ffffff;
	text-align: center;
	right: 150px;
}

.connect {
	color: #4aaaa5;
	position: relative;
	width: 650px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
	color: #4aaaa5;
	position: relative;
	width: 650px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h3 {
	background-color: #ffffff;
	width: 270px;
	height: 200px;
	display: inline;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	text-align: center;
	font-size: 22px;
	float: right;
}

.logos {
	position: absolute;
	z-index: 1;
	word-spacing: 20px;
	top: 100px;
	left: 15%;
}

.content {
	width: 650px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	z-index: 1;
	padding-left: 45px;
	position: relative;
	top: -250px;
	clear: both;
}

.content-box {
	width: 650px;
	height: 900px;
	background-color: #ffffff;
	position: absolute;
	z-index: -1;
	top: 100px;
	left: 37px;
}

.button {
	background-color: #4aaaa5;
	text-align: center;
	color: #ffffff;
	border: none;
	padding: 15px 32px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 15px;
	padding-top: 10px;
}